{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}


{% block main %}
    <h2>Register here</h2>
    <form action="/register" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Choose a username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Choose a password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="veripass" name="confirmation" placeholder="confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>


{% endblock %}